img{
  display: none;
}
.etana-hidden{
  display: none;
}

.clickable {
      cursor: pointer;
      color: #0088cc;
    }

    .clickable:hover {
      text-decoration: underline;
    }
.test,  .panel-body{
  display: none;
}
#first,#second{
  height: 200px;
  width: 200px;
}
.green-background{
  background-color: green;
}
.red-background{
  background-color: red;
}
.trial{
  color: red;
}
